<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card bg-dark border-success shadow-lg">

                <div class="card-body text-light">

                    <h2 class="text-center text-success mb-4">
                        Login Gamer
                    </h2>

                    <div *ngIf="error" class="alert alert-danger">
                        {{ error }}
                    </div>

                    <form (ngSubmit)="login()">

                        <div class="mb-3">

                            <label class="form-label text-success">
                                Jugador
                            </label>

                            <input
                                type="text"
                                class="form-control bg-black text-light border-success"
                                [(ngModel)]="usuario"
                                name="usuario"
                                placeholder="Ingrese su nick">

                        </div>

                        <div class="mb-3">

                            <label class="form-label text-success">
                                Contraseña
                            </label>

                            <input
                                type="password"
                                class="form-control bg-black text-light border-success"
                                [(ngModel)]="password"
                                name="password"
                                placeholder="Ingrese contraseña">

                        </div>

                        <button
                            type="submit"
                            class="btn btn-success w-100">

                            Ingresar

                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>